* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #2d3748;
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #ddbc72;
}