article > * + * {
  margin-top: 1em;
  display: block;
}

article h1 {
  font-family: 'Crete Round', serif;
}

article li a {
  display: inline-block;
  padding: 0.2em 0.5em;
  margin-bottom: 0.4em;
}